body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";font-size:12px;}
input,a{outline:none;}
html{font-size: 9.26vw;}

.box{
	max-width:1080px;
	margin: 0 auto;
}
.banner,nav,.con,footer{width: 100%;}
.banner{height: 4.67rem;}
.banner a{width: 100%;height: 100%;display: block;}
.banner img{width: 100%;height: 100%;}

nav{height: 2.38rem;background: #fff;display: flex;justify-content: space-around;}
nav img{width: 1.47rem;height: 1.32rem;margin-top: 0.5rem;}
.con{height: 4.40rem;background: red;margin-top: 0.3rem;}
.con img{width: 100%;height: 100%;}

footer{height: 1.28rem;position: fixed;left: 0;bottom: 0;background: #fff;display: flex;justify-content: space-around;}
footer img{width:0.64rem;height: 1rem;}
