body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";font-size:12px;}
input,a{outline:none;}
html{font-size: 9.26vw;}

.box{
	max-width:1080px;
	margin: 0 auto;
}
header,.con{width: 100%;}

header{height: 5.3rem;background: #fff;position: relative;}
header h1{height: 1.8rem;width: 1.8rem;background: url(../img/reg_logo.jpg) no-repeat center/cover;position: absolute;left: 50%;margin-left: -0.9rem;bottom: 1.2rem}
.con{height: 6.7rem;background: #fff;box-sizing: border-box;padding: 0 0.7rem;position: relative;}
.con input{width: 100%;height: 1.6rem;border: 0;border-bottom: 0.02rem solid #EDEDED ;font-size: 0.42rem;color: #a9a9a9;}
.con span{color: #bdc0c5;font-size: 0.42rem;height: 0.42rem;line-height: 0.42rem;position: absolute;top: 0.6rem;right: 0.7rem;}
.con a{width: 100%;height: 1.3rem;background: #ff5f17;border-radius: 0.1rem;display: block;margin-top: 2.1rem;line-height: 1.3rem;font-size: 0.44rem;text-align: center;color: #fff;}
.con a b{opacity: .5;font-weight: normal;}








